:root {
  --background2: #0c4842;
  --background3:#005252;
  overflow: hidden;
}
body {
  background: var(--background3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}
h3 {
  margin-top: 20px;
  margin-left:20px;
  line-height:18px;
}
h4 {
  color:Grey;
}
#archive-display {
  width: 79%;
  height: 89vh;
}
a:link{
  color:#73FCC5;
}
a:visited{
  color:#33ff66;
}
#header {
  background-color:#006666;
  display: outside;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#Cover {
  float:left;
  bottom:500px;
  margin:20px;
  background-color:#50f354;
  height:250px;                    
}
.article {
  position: absolute;
  right: 0;
  height:940px;
  width:auto;
  border:dashed;
  color:red;
  color:grey;
}
button {
  font-size: 15px;
  font-family: "serif";
  background-color: #0b5134;
  border-style: outset;
  border-width: 4px;
  cursor: pointer;
  display: block;
  margin-top: 40px;
  margin-left: 10px;
}
button a {
  text-decoration:none;
  color:#ffffff !important; 
} 
div.sidebar {
    border-style: solid;
    background: #4d7f71;
    position: relative;
    float: right;
    right: 0;
    top: 0;
    width:20%;
    height:99%;
    }
h1.sidebar-head {
text-align: center;
}
div.sidebar ul li {
  list-style-type: none;
  margin: 20px;
  cursor: pointer;
}
.home img{
  width: 50px;
  height: 50px;
  position: static;
}

header {
  display: flex;
  align-items: center;
  margin: 2em;
  padding: 0.5em;
  border-radius: 0.5em;
  background: #00651F;
}
header h1 {
  margin: 1em;
}
