:root {
  --background2:#4d7f71;
  --background3:#007f71;
  --colormix:color-mix(var(--background2) 50%, var(--background3));
}
body{
  background:#008080;
  }      
a:link{
  color:#00ff00;
}
a:visited{
  color:#33ff66;
}
#header {
  background-color:#006666;
  margin-left:20px;
  margin-right:20px;
}
#Cover {
  float:left;
  bottom:500px;
  margin:20px;
  background-color:#50f354;
  height:250px;                    
}
h3 {
  margin-left:20px;
  line-height:18px;
}
               
.article {
  position: absolute;
  right: 0;
  height:200px;
  width:200px;
  border:dashed;
  color:red;
}
h4 {
  color:Grey;
}
.button {
  color:var(--colormix);
  font-size:15px;
  font-family:"serif";
  background-color:#0f7f50;
  border-style:outset;
  border-width:4px;
  cursor:pointer;
  margins:10px;
}
button a {
  text-decoration:none;
  color:var(--colormix);
}
